:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: #250902;
  min-height: 100vh;
  background-color: #fef5df;
  position: relative;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  gap: 0.5em;
  /* grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(3 300px);

 */
}

header {
  grid-area: header;
  background-color: #250902;
  padding: 1em;
  width: 100%;
  /* position: fixed;
  top: 0;
  left: 0; */
  font-size: larger;
  z-index: 1;
}

main {
  grid-area: main;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;

  /* border: 5px solid #ca2e07; */
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.footer {
  grid-area: footer;
}

input {
  padding: 10px 15px;
  margin: 0.5rem 0;
  border: none;
  outline: none;
  /* background-color: #c6c1c1; */
  background: transparent;
  border-radius: 40px;
  color: #250902;
  letter-spacing: 1px;
  width: 100%;
  border: 2px solid #d5b76a;
}

button {
  border-radius: 40px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: bolder;
  font-family: inherit;
  background-color: #250902;
  cursor: pointer;
  color: #faedcd;
  text-transform: uppercase;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.form label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.header {
  font-weight: 800;
  font-size: 1.7em;
  color: #faedcd;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.row {
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
  margin: 1rem 0;
}

/* .progress {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  position: relative;
  align-items: center;
  justify-content: flex-start;
} */

.input-field input:focus,
.input-field input:valid {
  outline: none;
  border: #2f0b02;
}

.card-rows {
  display: grid;
  /* grid-row: 1; */
  margin: 1em 0;
  padding: 1em;
  background-color: #faedcd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addbtn {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
  gap: 32px;
}

.topic-title {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #faedcd;
}

.progress__bar {
  width: 320px;
  height: 24px;
  background: #f1735c;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.progress__fill {
  width: 0;
  height: 100%;
  background: #601b09;
  border-radius: 40px;
  position: absolute;
}

.progress__text {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font:
    bold 1em "Helvetica",
    Arial,
    sans-serif;
  color: #ebe0c6;
}

.react-datepicker {
  font-family: inherit;
  font-size: 1.2rem;
}
