:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-size: 1.5rem;
  margin: 0 1em;
  padding: 1em;
}

body {
  color: #250902;
  min-height: 100vh;
}

/* h1 {
  font-size: 1.2em;
  line-height: 1.1;
} */

main {
  background-color: #faedcd;
  width: 100%;
}

header {
  background-color: #250902;
  width: 100%;
}

input {
  padding: 10px 15px;
  margin: 0.5rem 0;
  background-color: #c6c1c1;
  border-radius: 9px;
  color: #250902;
  letter-spacing: 1px;
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: bolder;
  font-family: inherit;
  background-color: #250902;
  cursor: pointer;
  color: #faedcd;
  text-transform: uppercase;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header {
  font-weight: 800;
  color: #faedcd;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.row {
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
  margin: 1rem 0;
}

.progress {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.input-field input:focus,
.input-field input:valid {
  outline: none;
  border: #2f0b02;
}
